/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- BEGIN STYLES ---------------------- */



/* ----------- FONTS start ----------- */	
@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/quicksand/Quicksand_Light-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/quicksand/Quicksand_Book-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
/* ----------- FONTS end ----------- */



body {
	width:100%
	max-width:1300px;
	margin:0 auto;
	font-family:'QuicksandBook';
	}

header {
	position:relative;
	width:100%;
	top:0;
	height:120px;
	margin-bottom:50px;
	background-image:url("images/stripes.png");
	}

h1 {
	position:absolute;
	top:15px;
	left:6%;
	width:120px;
	font-size:1.5em;
	font-family:'QuicksandLight';
	border:2px solid black;
	text-transform:uppercase;
	text-align:right;
	padding:10px 10px 5px 10px;
	background-color:black;
	color:white;
	}

h2 {
	font-size:1.2em;
	font-family:"QuicksandBold";
	text-transform:uppercase;
	}

h3 {
	font-size:1em;
	line-height:1.4em;
	font-family:"QuicksandBold";
	}

h4 {
	font-size:1em;
	line-height:1.2em;
	text-transform:uppercase;
	}

p {
	font-size:1em;
	line-height:1.3em;
	padding:20px 0px;
	}


.main-content {
	width:90%;
	margin:0 auto;
	}

.work {
	position:relative;
	width:75%;
	border-top: 2px black solid;
	}





/* ----------- MAIN NAV start ----------- */

.main-nav {
	width:20%;
	position:absolute;
	right:26%;
	top:22px;
	font-family:"QuicksandBold";
	}

.main-nav li {
	margin-bottom:5px;
	padding:5px;
	text-align:right;
	text-transform:uppercase;
	font-size:0.8em;
	}

.main-nav a {
	padding:2px;
	}

a.nav:link {
	background-color:#ffef66;
	color:black;
	}
	
	
/* ----------- MAIN NAV end ----------- */





/* ----------- SECOND NAV start----------- */

.second-nav {
	z-index:999;
	position:fixed;
	width:20%;
	top:15px;
	right:5%;
	background-color:#ffef66;
	padding:5px;
	}

.second-nav li {
	font-size:1.6em;
	padding:5px;
	}
/* ----------- SECOND NAV end ----------- */





	
	
	
	
/* ----------- IMAGE THUMBNAILS start ----------- */

img.thumbnail {
	margin:1%;
	width:30%;
	
	}

a.hover {
	opacity:0.6;
	}
/* ----------- IMAGE THUMBNAILS end ----------- */	







/* ----------- PROJECT DESCRIPTIONS start ----------- */

.project-description {
	background-color:#ffef66;
	margin-left:2%;
	width:28%;
	padding:10px;
	float:left;
	}	
/* ----------- PROJECT DESCRIPTIONS end ----------- */
	
	
	
	
	
	
/* ----------- IMAGE SLIDER Start ----------- */	

.image-content {
	float:left;
	width:800px;
	margin-bottom:25px;
	}
	
.simpleSlidewindow {
	float:left;
	}

	
.left-button {
	float:left;
	margin-right:5px;
	}
	
.right-button {
	float:right;
	margin-left:5px;
	}
/* ----------- IMAGE SLIDER End ----------- */






/* ----------- ABOUT/CONTACT start ----------- */

#contact {
	float:left;
	width:15%;
	}
#contact img {
	width:100%;
	}

#contact ul {
	margin-top:10px;
	padding:5px;
	background-color:#ffef66;
	}
	
#contact li {
	font-size:0.8em;
	line-height:1.2em;
	text-transform:uppercase;
	padding:3px 0px;
	font-family:'QuicksandBold';
	}

#about {
	float:left;
	width:45%;
	margin:0 5%;
	}

#about p {
	padding-top:0;
	}

#sites-i-love {
	float:right;
	width:20%;
	margin:10px 0px 100px 3px;
	padding:1%;
	border:2px solid #ffef66;
	}

#sites-i-love li {
	font-size:1.3em;
	padding:5px 0px;
	}
/* ----------- ABOUT/CONTACT end ----------- */	




	


/* ----------- FOOTER start ----------- */

#copyright {
	position:fixed;
	bottom:0;
	right:15px;
	font-size:0.7em;
	height:4px;
	}

#prev {
	position:fixed;
	bottom:0;
	left:2%;
	}

#next {
	position:fixed;
	bottom:0;
	right:2%;
	}
/* ----------- FOOTER end ----------- */






/* ----------- LINKS start ----------- */
a.hover:hover {
	background-color:white;
	opacity:1;
	}

a:link {
	color:black;
	}
	
a:visited {
	color:black;
	}
	
a:hover {
	background-color:black;
	color:white;
	text-decoration:none;
	}

a:active {
	background-color:#ffef66;
	}
/* ----------- LINKS end ----------- */







/* ----------- MEDIA QUERY start ----------- */

@media screen and (max-width:1300px) {
	.project-description {
		margin-left:1%;
		width:25%;
		}	
	}

@media screen and (max-width:1230px) {
	.project-description {
		width:20%;
		}	
	}

@media screen and (max-width:1155px) {
	.project-description {
		width:375px;
		margin:0px 0px 25px 24px;
		}	
	}

@media screen and (max-width:800px) {
	.second-nav li {
		font-size:1em;
		padding:3px;
		}
	
	.main-nav {
		right:28%;
		}
	
	#contact {
		width:25%;
		}

	#about {
		width:65%;
		}
	
	#sites-i-love {
		float:clear;
		position:relative;
		width:100%;
		margin-top:10px;
		}

	#sites-i-love li {
		font-size:1em;
		padding:3px 0px;
		float:left;
		margin-right:10px;
		}
	}
/* ----------- MEDIA QUERY end ----------- */