

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */






body {
	width:100%;
	font-family:"gill sans";
	font-size:14px;
	line-height:1.2em;
	}

h1, h2 {
	font-family:"helvetica neue";
	text-transform:uppercase;
	font-weight:bold;
	color:#895b35;
	}

#site-wrapper {
	background-color:#ebf2d5;
	}

header {
	position:relative;
	height:140px;
	margin:0 auto;
	width:960px;
	background-color:orange;
	}

header h1 {
	position:absolute;
	top:0;
	left:0;
	margin:10px;
	background-color:red;
	}

#site-header h1 a {
	width:306px;
	height:123px;
	background:url(images/logo.png) no-repeat top left; 
	text-indent:-9999px;
	display:block;
 	}

header nav {
	position:absolute;
	background-color:teal;
	right:0px;
	font-size:12px;
	margin:10px;
	}

#menu-wrapper {
	background-color:#895b35;
	}

#main-menu {
	background-color:teal;
	position:relative;
	height:30px;
	width:960px;
	margin:0 auto;
	}

#main-menu li{
	float:left;
	padding:5px;
	background-color:yellow;
	margin:2px 10px;
	text-transform:uppercase;
	font-weight:bold;
	font-family:"helvetica neue";
	}
	
#content {
	width:960px;
	margin:0 auto;
	}
	
#page {
	float:left;
	width:50%;
	background-color:magenta;
	margin:10px 10px;
	padding:10px 10px 10px 0px;
	}

#page h1 {
	font-size:36px;
	line-height:1em;
	}

p {
	margin-bottom:1em;
	}
	
#sidebar {
	float:right;
	width:30%;
	background-color:chartreuse;
	margin:10px;
	padding:10px 0px 10px 10px;
	}

#footer-wrapper {
	clear:both;
	background-color:#895b35;
	height:150px;
	}

#site-footer {
	background-color:aqua;
	clear:both;
	position:relative;
	bottom:0;
	height:150px;
	width:960px;
	margin:0 auto;
	}

#site-footer h1 {
	color:#cdc2ac;
	}

#footer-contact {
	position:absolute;
	left:0;
	width:120px;
	display:inline-block;
	margin: 10px;
	background-color:salmon;
	}

#footer-contact p {
	color:white;
	}

#footer-follow {
	position:absolute;
	right:0;
	width:30%;
	display:inline-block;
	text-align:center;
	background-color:navy;
	margin:10px;
	padding:0px 10px 0px 0px;
	}

#footer-follow li {
	float:left;
	padding: 10px 0px;
	}

a:link {
	color:#895b35;
	text-decoration:none;
	}
a:visited {
	color:#895b35;
	text-decoration:none;
	}
a:hover {
	color:#ebf2d5;
	text-decoration:none;
	}

/* MAIN NAV LINKS */
#main-menu a:link {
	color:white;
	text-decoration:none;
	}
#main-menu a:visited {
	color:white;
	text-decoration:none;
	}
#main-menu a:hover {
	color:#ebf2d5;
	text-decoration:none;
	}